#zone-1 {
    color: red;
}

#zone-2 {
    color: blue;
}

canvas {
    border: solid black 1px;
}

table, tr, td {
    border: solid black 1px;
    border-collapse: collapse;
    text-align: right;
    padding: 0.25em 1em;
}
